extends ../../../views/layout
 
block content
  #menuAdmin 
   ul.nav.nav-pills.nav-stacked
     li#bNuevoCliente
       a Nuevo cliente
     li#bEditarCliente
       a Editar cliente
     li#bNuevoVuelo
       a Nuevo vuelo
     li#bEditarVuelo
       a Editar vuelo
  #administrar
   input#estado(type="hidden" value=estado)
   #nuevoCliente
      form#cliente(method="POST", action="/users/new")
       table
        tr
         td(colspan="2")
          h3 Nuevo cliente
        tr
         td
          p Nombre:
         td
          input(type="text" name="nombre" class="form-control")
        tr
         td
          p Nick:
         td
          input(type="text" name="nickName" class="form-control")
        tr
         td
          p Contrase単a:
         td
          input(type="password" name="contrasena" class="form-control")
        tr
         td
          p Repite contrase単a:
         td
          input(type="password" name="contrasenar" class="form-control")
        tr
         td
          p Documento:
         td
          input(type="number" name="documento" class="form-control")
        tr
         td
          p Tipo de pago:
         td
          input(type="text" name="tipoPago" class="form-control")
        tr
         td(colspan="2")   
          p
          button(type="submit" class="btn btn-danger btn-primary") Enviar

   #editarCliente
      h3 Editar cliente
       select(id="nombreUser" name="clientes" class="form-control")
        option(selected="selected" value="vacio") Escoja uno......
        each user in users
         option(value=user.nickName) #{user.nickName}
      form#fEditCliente(method="POST", action="/users/edit")
       table
        input(type="hidden" name="nickNameOriginal")
        tr
         td
          p Nombre:
         td
          input(type="text" name="nombre" class="form-control")
        tr
         td
          p Nick:
         td
          input(type="text" name="nickName" class="form-control")
        tr
         td
          p Nueva contrase単a:
         td
          input(type="password" name="contrasena" class="form-control")
        tr
         td
          p Repite Contrase単a:
         td
          input(type="password" name="contrasenar" class="form-control")
        tr
         td
          p Documento:
         td
          input(type="number" name="documento" class="form-control")
        tr
         td
          p Tipo de pago:
         td
          input(type="text" name="tipoPago" class="form-control")
        tr
         td(colspan="2")   
          button(type="submit" class="btn btn-primary" disabled) Actualizar
      button#eliminarUser(onclick="eliminarUser()" class="btn btn-danger" disabled) Eliminar

   #nuevoVuelo
      form#Vuelo(method="POST" action="/vuelos/new")
       table
        tr
         td(colspan="2")
          h3 Nuevo vuelo
        tr
         td
          p Nombre de vuelo:
         td
          input(type="text" name="nVuelo" class="form-control")
        tr
         td
          p Aerolinea:
         td
          input(type="text" name="aerolinea" class="form-control")
        tr
         td
          p Origen:
         td
          input(type="text" name="origen" class="form-control")
        tr
         td
          p Destino:
         td
          input(type="text" name="destino" class="form-control")
        tr
         td
          p Numero de pasajeros:
         td
          input(type="number" name="numeroPasajeros" class="form-control")
        tr
         td
          p Fecha de vuelo:
         td
          input(type="date" name="fechaVuelo" class="form-control")
        tr
         td
          p Hora de vuelo:
         td
          input(type="text" name="horaVuelo" class="form-control")
        tr
         td
          p Precio del vuelo:
         td
          input(type="number" name="precioVuelo" class="form-control")
        tr
         td(colspan="2")   
          p
          button(type="submit" class="btn btn-danger btn-primary") Enviar
   #editarVuelo 
      h3 Editar vuelo
       select(id="nombreVuelo" name="vuelos" class="form-control")
        option(selected="selected" value="vacio") Escoja uno......
        each vuelo in vuelos
         option(value=vuelo.nVuelo) #{vuelo.nVuelo}
      form#fEditVuelo(method="POST", action="/vuelos/edit")
       table
        input(type="hidden" name="nVueloOriginal")
        tr
         td
          p Nombre de vuelo:
         td
          input(type="text" name="nVuelo" class="form-control")
        tr
         td
          p Aerolinea:
         td
          input(type="text" name="aerolinea" class="form-control")
        tr
         td
          p Origen:
         td
          input(type="text" name="origen" class="form-control")
        tr
         td
          p Destino:
         td
          input(type="text" name="destino" class="form-control")
        tr
         td
          p Numero de pasajeros:
         td
          input(type="number" name="nPasajeros" class="form-control")
        tr
         td
          p Fecha de vuelo:
         td
          input(type="date" name="fechaVuelo" class="form-control")
        tr
         td
          p Hora de vuelo:
         td
          input(type="text" name="horaVuelo" class="form-control")
        tr
         td
          p Precio del vuelo:
         td
          input(type="number" name="precioVuelo" class="form-control")
        tr
         td(colspan="2")   
          p
          button(type="submit" class="btn btn-primary" disabled) Editar vuelo
      button#eliminarVuelo(onclick="eliminarVuelo()" class="btn btn-danger" disabled) Eliminar