extends ../../../views/layout

block content
  if sesion
   #menuAdminUser
    ul.nav.nav-pills.nav-stacked
     li#bEditarMisVuelos.active
       a Editar mis vuelos
     li#bEditarMiPerfil
       a Editar mi perfil
   #administrarUser
    #editarMisVuelos.active
      h3 Mis vuelos
      each vuelo in sesion.vuelos
        #vuelo
          form(method="POST", action="/vuelos/borrarVueloCliente")
            input(name="vuelo"  type="hidden" value=vuelo.vuelo)
            button(type="submit" class="close")
              span(aria-hidden="true") &times;
          table
            tr(colspan=2)
              th #{vuelo.inf}
            tr
              td Id
              td #{vuelo.recervacionId}
            tr
              td Vuelo
              td #{vuelo.vuelo}
            tr
              td Numero de pasajes
              td #{vuelo.numero}

    #editarMiPerfil
      form#fEditMyPerfil(method="POST", action="/users/edit")
       table
        tr
         td
          p Nombre:
         td
          input(type="text" name="nombre" value=sesion.nombre class="form-control")
        tr
         td
          p Nick:
         td
          input(type="text" name="nickName" value=sesion.nickName class="form-control")
        tr
         td
          p Nueva contrase単a:
         td
          input(type="password" name="contrasena" class="form-control")
        tr
         td
          p Repite Contrase単a:
         td
          input(type="password" name="contrasenar" class="form-control")
        tr
         td
          p Documento:
         td
          input(type="number" name="documento" value=sesion.documento class="form-control")
        tr
         td
          p Tipo de pago:
         td
          input(type="text" name="tipoPago" value=sesion.tipoPago class="form-control")
        tr
         td(colspan="2")   
          button(type="submit" class="btn btn-primary") Actualizar
      button#eliminarMiPerfil(onclick="eliminarMiPerfil()" class="btn btn-danger") Eliminar mi perfil
  else
   #cliente
   form#cliente(method="POST", action="/users/new")
    table
     tr
      td(colspan="2")
       h3 Registrar
     tr
      td
       p Nombre:
      td
       input(type="text" name="nombre" class="form-control")
     tr
      td
       p Nick:
      td
       input(type="text" name="nickName" class="form-control")
     tr
      td
       p Contrase単a:
      td
       input(type="password" name="contrasena" class="form-control")
     tr
      td
       p Repite contrase単a:
      td
       input(type="password" name="contrasenar" class="form-control")
     tr
      td
       p Documento:
      td
       input(type="number" name="documento" class="form-control")
     tr
      td
       p Tipo de pago:
      td
       input(type="text" name="tipoPago" class="form-control")
     tr
      td(colspan="2")   
       p
       button(type="submit" class="btn btn-danger btn-primary") Enviar
