extends ../../../views/layout

block content
  h1 Clientes
  each cliente in clientes
    p
      span #{cliente.nombre}
      span #{cliente.documento}
      span #{cliente.tipoPago}
      span #{cliente.vuelo}
      span #{cliente.contrasena}
      span #{cliente.nickName}